# Firebase project
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Secure server-side Firestore access
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

AUTH_SECRET=
APP_BASE_URL=http://localhost:3000
ADMIN_VALDEMIR_EMAIL=
ADMIN_VALDEMIR_PASSWORD=
ADMIN_BARBARA_EMAIL=
ADMIN_BARBARA_PASSWORD=
BUWELO_EMAIL=
BUWELO_PASSWORD=
WNS_EMAIL=
WNS_PASSWORD=
CONCENTRIX_EMAIL=
CONCENTRIX_PASSWORD=
TELUS_EMAIL=
TELUS_PASSWORD=
