GOOGLE_SHEETS_SPREADSHEET_ID=1YD6wgQqaV-luNexAv_fiTg-AhXcH_DoJKt5HubJsbWg
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
AUTH_SECRET=
APP_BASE_URL=
ADMIN_VALDEMIR_EMAIL=
ADMIN_VALDEMIR_PASSWORD=
ADMIN_BARBARA_EMAIL=
ADMIN_BARBARA_PASSWORD=
BUWELO_EMAIL=
BUWELO_PASSWORD=
WNS_EMAIL=
WNS_PASSWORD=
CONCENTRIX_EMAIL=
CONCENTRIX_PASSWORD=
TELUS_EMAIL=
TELUS_PASSWORD=
